<header>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="nav">
              <ul>
                <li><a href=""{{ my_page.url | prepend: site.baseurl }}"">{{ my_page.title }}</a></li>
                <li><a href=""{{ my_page.url | prepend: site.baseurl }}"">{{ my_page.title }}</a></li>
                <li><a href=""{{ my_page.url | prepend: site.baseurl }}"">{{ my_page.title }}</a></li>
                <li><a href=""{{ my_page.url | prepend: site.baseurl }}"">{{ my_page.title }}</a></li>
              </ul>
    </nav>

  </div>

</header>
