@import url("./normalize.css");

$primary-color: #fff;
$grey: #111;
$header: #0033FF;
$nav-links: #fff;
$logo: white;


* {
  box-sizing: border-box;
}



body {
  margin:0;
  background:$primary-color;
  font-family: 'Archivo', sans-serif;
  color: $grey;
}

header {
  background-color: $header;
}

// Nav

nav {
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {display:inline-block;}

  a {
    color: $nav-links;
    display:block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

// Folio

.folio-item {
  width: 100%;
  height: auto;
}

// Logo

.logo {
  width: 70px;
  padding: 20px;
  margin: 40px;
  background-color: $logo;
}


// Flexbox

.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  padding: 20px;
  text-align: center;
}

.flex-container {
    display:flex;
    align-items:center;
    justify-content:center;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
